#title {
	text-align: center;
	font-family: monospace, 'Courier New', Courier, monospace;
}
.stage {
	text-align: center;
}
.square {
	margin: 0;
	width: 100px;
	height: 100px;
	background-color: lightblue;
	border: 1px solid blue;
	border-radius: 3px;
	display: inline-block;
}
.square:hover {
	outline: 1px solid blue;
}
.x:hover {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	border: 1px red solid;
	outline: 1px red solid;
}
.x {
	position: relative;
}
.x::after {
	position: absolute;
	content: '\274C';
	font-size: 50px;
	line-height: 100px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.o {
	position: relative;
}
.o:hover {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	border: 1px red solid;
	outline: 1px red solid;
}
.o::after {
	position: absolute;
	content: '\2B55';
	font-size: 50px;
	line-height: 100px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#button {
	margin: 10px;
	padding: 10px;
	background-color: red;
	font-size: 20px;
	border-radius: 5px;
}
body {
	text-align: center;
}
